<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {% mastodonShareStyles %}
</head>
<body>
  {{ content | safe }}
  {% mastodonShareScript %}
</body>
</html>
