---
layout: layouts/base.njk
title: Nunjucks Example
description: A page rendered through Nunjucks.
mastodon_hashtags: [eleventy, nunjucks]
permalink: nunjucks/index.html
---

{% mastodonShare title=title, description=description, hashtags=mastodon_hashtags %}
